<h1 {{action 'toggleBody'}}>{{title}}</h1>
<button {{action 'sayHello' on='mouseEnter'}}>Say Hello</button>
{{#if isShowingBody}}
	<p>{{body}}</p>
{{/if}}
<p>
	<strong>Authors: </strong>
	{{#each authors}}
		{{this}},
	{{/each}}
</p>
<h4><strong>Comments</strong></h4>
<ul>
	{{#each comments as comment}}
		<li><strong>{{name}}</strong> - {{comment}}</li>
	{{/each}}
</ul>

<hr>
<h4>Add Comment</h4>
<form {{action 'submitAction' on='submit'}}>
	<p>
		Name: {{input value=name1}}
	</p>
	<p>
		Comment: {{textarea value=comment1}}
	</p>
	<button type="submit">Submit</button>
</form>
